* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #141625;
}

.invoice-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 6.5rem;
  background: #1f213a;

  & .modal-items-wrapper {
    flex-grow: 1;
    width: 100%;
    
    & .logo-wrapper {
      height: 6rem;
    }
  }
}

.logo-wrapper, .night-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-menu {
  height: 100%;
  width: 75%;
  position: fixed;
  left: 6.4rem;
  background: #141625;
}

.bill-form-container {
  display: grid;
  grid-template-columns: 0.7fr 0.8fr 0.8fr;
  grid-template-rows: 4rem;
}

label {
  display: block;
}

input {
  border: none;
  background-color: #1f213a;
}

.street-wrapper {
  grid-column-start: span 3;
}

.application {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 23rem 20rem;
  grid-template-rows: 7rem auto;
  justify-content: center;
}

.invoice-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.invoice-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoices-container {
  grid-column-start: span 2;
  display: flex;
  flex-direction: column;
}

.invoice {
  height: 6rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #1f213a;
}