* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #141625;
}

.invoice-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 6.5rem;
  background: #1f213a;
}

.invoice-modal .modal-items-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.invoice-modal .modal-items-wrapper .logo-wrapper {
  height: 6rem;
}

.logo-wrapper, .night-mode-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-menu {
  height: 100%;
  width: 75%;
  position: fixed;
  left: 6.4rem;
  background: #141625;
}

.bill-form-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 0.8fr 0.8fr;
      grid-template-columns: 0.7fr 0.8fr 0.8fr;
  -ms-grid-rows: 4rem;
      grid-template-rows: 4rem;
}

label {
  display: block;
}

input {
  border: none;
  background-color: #1f213a;
}

.street-wrapper {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

.application {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23rem 20rem;
      grid-template-columns: 23rem 20rem;
  -ms-grid-rows: 7rem auto;
      grid-template-rows: 7rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.invoice-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.invoice-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invoices-container {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.invoice {
  height: 6rem;
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1f213a;
}
/*# sourceMappingURL=style.css.map */